<footer class="footer">
  <small class="footer__copy">© 2022 Alicia González</small>
  <nav class="footer__rrss">
    <a href="https://github.com/Aliciagsj" class="footer__rrss--link"
      ><i class="footer__rrss--icons fab fa-github-square"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/alicia-gonz%C3%A1lez-san-juan/"
      class="footer__rrss--link"
      ><i class="footer__rrss--icons fab fa-linkedin"></i
    ></a>
    <a href="https://twitter.com/aliciagonsj" class="footer__rrss--link"
      ><i class="footer__rrss--icons fab fa-twitter-square"></i
    ></a>
  </nav>
</footer>
