<main class="main">
  <section class="main__filter">
    <h1 class="main__title">Buscador de Cócteles</h1>
    <form class="js-form">
      <input
        class="main__filter--input js-input-name"
        type="text"
        id="filter"
        placeholder="Ej.: Mojito, Margarita, Gin,..."
      />
      <p class="main__error js-msg-error"></p>

      <button class="main__btn js-button-search" type="submit">Buscar</button>

      <button class="main__btn js-button-reset" type="reset">Borrar</button>
    </form>
  </section>

  <section class="lists">
    <article class="lists__fav js-list-favdrinks">
      <h2 class="lists__title">Cócteles favoritos</h2>
      <p class="msg-fav js-msg-fav">
        No has seleccionado ningún cocktail como favorito
      </p>
      <ul class="lists__list--fav js-list-fav"></ul>

      <button class="main__btn js-reset-fav hidden" type="reset">Borrar</button>
    </article>
    <article class="lists__list js-list-drinks">
      <h2 class="lists__title">Lista</h2>
      <ul class="lists__list js-list"></ul>
    </article>
  </section>
</main>
