<section class="filter">
  <h1 class="filter__title">Buscador de Cocktail</h1>
  <form class="filter__form js-form">
    <input
      class="filter__form--input js-input-name"
      type="text"
      id="filter"
      placeholder="Ej.: Mojito, Margarita, Gin,..."
    />

    <button class="filter__form--btn js-button-search" type="submit">
      Buscar
    </button>

    <button class="filter__form--btn js-button-reset" type="reset">
      Borrar
    </button>
    <p class="filter__form--msgerror js-msg-error"></p>
  </form>
</section>
