<main class="page__main">
  <h1 class="title">Buscador de Cócteles</h1>

  <div class="filter">
    <form class="js-form">
      <!-- <label class="filter__label" for="filter"
        >Filtrar por nombre de paleta:</label
      > -->
      <input
        class="filter__input js-input"
        type="text"
        id="filter"
        placeholder="Escribe aquí el nombre del cóctel"
        length="50"
      />
      <button class="btn">Buscar</button>
      <button class="btn">Reset</button>
    </form>
  </div>

  <section class="result__drink--fav">
    <h2>Cócteles favoritos</h2>

    <ul class="list__fav js-list-favdrinks">
      <li>
        <img class="drink_img js-imgDrink" src="" alt="" />
        <p class="drink_desc js-descDrink"></p>
      </li>
    </ul>
  </section>
  <section class="result__drink">
    <h2>Lista</h2>
    <ul class="list js-list-drinks">
      <li></li>
      <li></li>
    </ul>
  </section>
</main>
