.header {
  display: flex;
  justify-content:center;
  align-items: center;

  width: 100%;
  height: 20vh;
  background-image: url("../../assets/images/Background.png");
  background-size:cover;
  background-position: bottom;

  &__img {
    height: 70%;

    
  }

}
