@import 'core/variables';
@import 'core/reset';
@import 'components/links';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/main';
@import 'pages/index';


body {
    font-family: $font-main;
}


